.wolf{
    color: var(--font-grey-color);

    width: 100%;

    margin: 3% 0 3% 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left .wolf{
    flex-wrap: wrap;
}

.right .wolf{
    flex-wrap: wrap-reverse;
}

.wolf-photo{
    width: max(45%, 300px);
    max-width: 400px;
    min-width: 180px;

    margin: auto;
}

.wolf-img{
    width: 100%;

    position: relative;
}

.wolf-photo img{
    width: 100%;
    z-index: 1;
}

.img-shadow{
    background-color: #2C5680;

    width: 100%;
    height: 100%;

    border: solid;

    position: absolute;
    top: -5%;
    
    z-index: 0;
}

.left .img-shadow{
    left: -5%;
}

.right .img-shadow{
    left: 5%;
}

h2{
    font-size: 2em;
    font-weight: bold;
}

.adopt{
    font-size: 1.2em;
    font-weight: bold;
    color: var(--font-white-color);

    background-color: var(--footer-button-color);

    width: 30%;
    min-width: 100px;
    height: 2em;

    border: none; 
}

.wolf-info{
    width: max(45%, 300px);

    margin: 0 auto 0 auto;
}

.right .wolf-info{
    text-align: end;
}

.name-adopt{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start; 
}

.name-age{
    gap: 0.5em;

    display: flex;
    flex-direction: column;
}

.description{
    width: 100%;
    
    margin-top: 5%;
}
