<div class="wolf">
    <div class="wolf-info">
        <div class="name-adopt">
            <button class="adopt">Adotar</button>
            <div class="name-age">
                <h2>Nome do Lobo</h2>
                <p>Idade: XX anos</p>
            </div>
        </div>
        <div class="description">
            <p>Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas. Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas.Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas.Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas.</p>
        </div>
    </div>
    <div class="wolf-photo">
        <figure class="wolf-img">
            <img src="../images/wolf-test.png">
            <div class="img-shadow"></div>
        </figure>
    </div>
</div>