main{
    color: var(--font-grey-color);

    margin: 3%;

    display: flex;
    justify-content: center;
}

#form-add{
    padding: 3%;

    border-style: solid;
    border-color: var(--font-grey-color);
    border-width: 0.15em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: 2em;
    font-weight: bold;

    margin-bottom: 5%;

    text-align: center;
}

main div{   
    margin: 1% 0;

    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 0.3em;
}

#name-age{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

#name{
    width: 70%;
}

#age{
    width: 25%;
}

#wolf-description{
    height: 120px;
    resize: none;
}

#wolf-add-submit{
    color: var(--font-white-color);
    background-color: var(--submit-button-color);

    width: 30%;
    
    padding: 0.5em;
    margin: 4% auto 0 auto;

    border-style: solid;
    border-width: 0.05em;

}

input, textarea{
    background-color: var(--input-color);
    
    border-style: solid;
    border-width: 0.05em;
}

#wolf-add-submit:hover{
    background-color: var(--button-gold-color);
}