main{
    color: var(--font-grey-color);

    width: 80%;
    margin: auto;
    padding: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;  
}

h1{
    font-size: 2.5em;
    font-weight: bold;
}

main img{
    width: max(30%, 180px);
    min-height: 180px;

    border-radius: 50%;
}

main div{
    margin: 0.5em 0;

    display: flex;
    flex-direction: column; 
}

#owner-info{
    font-size: 1.5em;

    width: max(70%, 150px);

    margin: 2% auto;
    
    display: flex;
    flex-direction: column;
}

#wolf-info{
    width: 70%;

    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#name-id{
    margin: 0 2%;
}

#owner-name-age{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#name{
    width: 80%;
}

#age{
    width: 15%;
    min-width: 50px;
}

#email{
    width: 100%;
}

input{
    height: 1.5em;

    border-top: 0;
    border-left: 0;
    border-right: 0;
}

label{
    margin-bottom: 1em;
}

#wolf-adopt-submit{
    font-size: 1em;
    color: var(--font-white-color);

    background-color: var(--submit-button-color);
    
    width: max(30%, 100px);
    
    margin: 4% auto 0 auto;

    border-style: solid;
    border-width: 0.05em;

    text-align: center;
}

#wolf-adopt-submit:hover{
    background-color: var(--button-gold-color)
}

@media only screen and (max-width: 500px){
    h1{font-size: 1.8em;}
}