#title-section{
    background-image: url(../images/homepage/title_wolf.svg);
    background-position: center;
    background-size: cover;

    min-height: 500px;

    padding: 2% 10% 3% 10%;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 6em;
    font-weight: bold;
}

#subtitle{
    font-size: 2em;

    width: 60%;  
}

#title-underline{
    background-color: var(--font-white-color);

    width: 10%;
    height: 0.3em;

    margin: 1em;

    border-radius: 5px;
}

#about{
    font-size: 1.2em;
    line-height: 1.3;
    
    background-color: var(--about-color);

    min-height: 250px;

    padding: 0.1% 10% 3% 10%;

    text-align: center;
}

h2{
    color: var(--font-gold-color);
    font-size: 2em;
    font-weight: bold;

    width: 100%;

    margin-bottom: 3%;
    margin-top: 4%;

    text-align: center;
}

#values{
    background-color: var(--values-color);

    padding: 5% auto 3% auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.value{
    width: 200px;

    margin: 2%;

    display: flex;
    flex-direction: column;

    text-align: center;
}

h3{
    font-size: 1.5em;
    font-weight: bold;

    margin: 10%;
}

.ellipse{
    background-color: var(--font-white-color);

    width: 200px;
    height: 200px;

    border-radius: 50%;
}

.ellipse img{
    margin: 1.8em;
}

#wolves-example{
    background-color: var(--wolves-example-color);
    min-height: 100px;

    padding: 1% 0 5% 0;

    z-index: -1;
}

.wolf{
    padding: 3% 5% 3% 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left{
    flex-wrap: wrap;
}

.right{
    flex-wrap: wrap-reverse;
}

.wolf-portrait{
    width: 40%;
    min-width: 180px;

    position: relative;

    display: flex;
    justify-content: center;
}

.wolf-img-shadow{
    background-color: var(--figure-shadow-color);
    
    width: 100%;
    height: 100%;

    border-color: var(--font-grey-color);
    border-style: solid;
    border-width: 3px;

    position: absolute;
    

    z-index: 0;
}

.left .wolf-img-shadow{
    top: -5%;
    left: -5%;
}

.right .wolf-portrait .wolf-img-shadow{
    top: -5%;
    right: -5%;
}

.wolf-img{
    width: 100%;
    height: auto;
    max-width: 100%;
    z-index: 1;
}

.wolf-info{
    color: var(--font-grey-color);

    width: 40%;

    padding: 0 5% 0 5%;
}

.wolf-name-age{
    margin-bottom: 5%;
}

.wolf-name{
    font-size: 2em;
    font-weight: bold;
}

.right{
    text-align: end;
}

.wolf-desc{
    font-size: 1.2em;
}

@media only screen and (max-width: 500px){
    h1{
        font-size: 4em;
    }

    .wolf-portrait{
        min-width: 80%;
    }
    .wolf-info{
        min-width: 80%;
    }
}   