main{
    color: var(--font-grey-color);

    padding: 2%;
}

h1{
    font-size: 3em;
    font-weight: bold;
    text-align: center;

    word-break: break-all;
}

#wolf-info{
    margin: 10% 0 10% 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#wolf-display{
    width: 100%;

    position: relative;
}

#wolf-image{   
    width: 100%;
}

#photo-buttons{
    width: 40%;
    min-width: 150px;

    margin-bottom: 5%;
}

.display-shadow{
    background-color: var(--figure-shadow-color);

    width: 100%;
    height: 100%;

    border: solid;

    position: absolute;

    left: -10%;
    top: -10%;
    
    z-index: -1;
}

#buttons{
    margin-top: 5%;

    display: flex;
    justify-content: space-between;
}

button{
    font-size: 1.2em;
    font-weight: bold;
    color: var(--font-white-color);

    width: 40%;

    padding: 3%;
    
    border: none;
}

#adopt{
    background-color: var(--adopt-button-color);
}

#delete{
    background-color: var(--delete-button-color);
}

#adopt:hover{
    background-color: var(--hover-color);
}

#delete:hover{
    background-color: var(--hover-color);
}

#description{
    font-size: 1.5em;
    
    width: 40%;
    min-width: 180px;
}

@media only screen and (max-width: 300px){
    button{
        font-size: 0.9em;
    }
    h1{
        font-size: 2em;
    }
}