main{
    color: var(--font-grey-color);

    padding: 2% 10% 3% 10%;

    text-align: center;
}

h1{
    font-size: 4em;
    font-weight: bold;

    margin-bottom: 5%;
}

main p{
    font-size: 1.5em;

    width: 80%;

    margin: auto;

    display: block;
}