main{
    color: var(--font-grey-color);

    width: 100vw;

    margin: auto;
    margin-top: 5%;
}

#search-add{
    width: 90%;

    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#search-bar{
    width: 80%;

    padding: 3px;

    border: solid;
    border-width: 1px;
    border-color: var(--font-grey-color);

    display: flex;
    flex-direction: row;
}

#checkbox-label{
    font-weight: 600;
    font-size: 1.2em;
    color: var(--font-grey-color);

    width: 90%;

    margin: auto;
    padding: 2%;

    display: flex;
    align-items: center;
}

#checkbox-text{
    margin-left: 2%;
}

#search{
    width: 100%;

    border-style: none;
}

#add{
    font-size: 1.5em;
    color: var(--font-white-color);

    background-color: var(--button-gold-color);

    width: 15%;
    min-width: 100px;
    
    border: none;
}

#wolves{
    width: 90%;

    margin: auto;
}

.wolf-name-adopt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


.adopt{
    font-size: 1.2em;
    font-weight: bold;
    color: var(--font-white-color);

    width: 30%;
    min-width: 100px;
    height: 2em;

    margin: 0 1em 0 1em;
        
    border: none;
}

.to-adopt{
    background-color: var(--button-gold-color);
}

.adopted{
    background-color: var(--adopt-button-color);
}

.wolf{
    padding: 3% 5% 3% 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left{
    flex-wrap: wrap;
}

.right{
    flex-wrap: wrap-reverse;
}

.wolf-portrait{
    width: 40%;
    min-width: 180px;

    position: relative;

    display: flex;
    justify-content: center;
}

.wolf-img-shadow{
    background-color: var(--figure-shadow-color);
    
    width: 100%;
    height: 100%;

    border-color: var(--font-grey-color);
    border-style: solid;
    border-width: 3px;

    position: absolute;
    

    z-index: 0;
}

.left .wolf-img-shadow{
    top: -5%;
    left: -5%;
}

.right .wolf-portrait .wolf-img-shadow{
    top: -5%;
    right: -5%;
}

.wolf-img{
    width: 100%;
    height: auto;
    max-width: 100%;
    z-index: 1;
}

.wolf-info{
    color: var(--font-grey-color);

    width: 40%;

    padding: 0 5% 0 5%;

}

.wolf-name-age{
    margin-bottom: 5%;
}

.wolf-name{
    font-size: 2em;
    font-weight: bold;
}

.right{
    text-align: end;
}

.wolf-desc{
    font-size: 1.2em;
}

#add:hover{
    background-color: var(--hover-color);
}

.to-adopt:hover{
    background-color: var(--hover-color);
}

@media only screen and (max-width: 300px){
    .wolf{
        padding: 5% 1% 5% 1%;
    }

    .left{
        justify-content: flex-start;
    }

    .right{
        justify-content: flex-end;
    }

    .wolf-info{
        width: 70%;
        padding: 0;
    }

    .adopt{
        margin: 0;
    }
    
    
    
}